h1{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    text-shadow: 8px 8px 8px;
    text-decoration: underline rgb(255, 255, 255);
    -webkit-text-stroke:0.5px white;
}
body,html{
    max-height:300%;
}
body{
    background-image: url('grass.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:150%;
}
.gsd.hover,.golden.hover,.pit.hover,.rott.hover,.lab.hover,.pug.hover{
    transition: 0.05s;
    transform: scale(1.2,1.2);
}
